/* RESETS & DEFAULTS */
body, html { margin:0; padding:0; background-color:#E9D8BE; color:#595959; font-size:16px; font-family:"Trebuchet MS", Helvetica, sans-serif; }

#container {
    background-color:#ffffff;
    border:1px solid #B4A389;
    padding:15px;
    margin:30px;
    max-width:960px;
    min-width:560px;
    box-shadow:4px 4px 4px #ccbba1;
}


/* HEADINGS */

h1, h2 {
    color:#3f98b1;
    text-transform:uppercase;
}

h1 { font-size:1.7em; border-left: 6px solid #3f98b1; padding-left: 10px; }
h2 { font-size:1.3em; }


/* TEXT ELEMENTS */

p { font-size:1em; }

a { color:#6e809a; text-decoration:underline; }
a:hover { color:#9badc7; text-decoration:underline; }


/* FORMS */

input {
    padding:6px 8px;
    font-size:1em;
    text-transform:uppercase;
}

#moreinfo {
    display:none;
    padding:15px;
    margin:0 20px 20px 20px;
    background-color:#F3F3F3;
    font-size:.9em;
    box-shadow:2px 2px 3px #DCDCDC inset;
}